img {
    height: auto;
    width: 800px;
}

h1,
h2,
p,
li {
    font-family: "Verdana", "Tahoma", sans-serif;
}

h1 {
    background-color: #ff0000;
    text-align: center;
}

h2 {
    background-color: #ffff00;
}